 on boot 
    chown system system /sys/devices/platform/soc/888000.i2c/i2c-5/5-0061/power_supply/rx1619/reverse_chg_mode
    chown system system /sys/rx1619/txon
    chown system system /sys/devices/platform/soc/888000.i2c/i2c-5/5-003b/power_supply/idt/reverse_chg_mode

    chmod 0644 /sys/devices/platform/soc/888000.i2c/i2c-5/5-0061/power_supply/rx1619/reverse_chg_mode
    chmod 0644 /sys/devices/platform/soc/888000.i2c/i2c-5/5-003b/power_supply/idt/reverse_chg_mode
    chmod 0644 /sys/rx1619/txon
    

service powershare-hal-1-0 /system/bin/hw/lineage.powershare@1.0-service.xiaomi_kona
    class hal
    user system
    group system
