type sensors_prop, property_type;
type vendor_soc_id_prop, property_type;
type vendor_cap_configstore_dbg_prop, property_type;
type vendor_pd_locater_dbg_prop, property_type;
type vendor_sensors_prop, property_type;
type vendor_sensors_dbg_prop, property_type;
