type hal_displayfeature_xiaomi_default, domain;
allow hal_displayfeature_xiaomi_default sysfs_graphics:dir {search};
allow hal_displayfeature_xiaomi_default sysfs_graphics:lnk_file {read};
