type hal_fod_kona, coredomain, domain;
hal_server_domain(hal_fod_kona, hal_lineage_fod)

type hal_fod_kona_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_fod_kona)

# Allow binder communication with hal_displayfeature_xiaomi_default
binder_call(hal_fod_kona, hal_displayfeature_xiaomi_default)

# Allow hal_fod_kona to find hal_displayfeature_xiaomi_hwservice
allow hal_fod_kona hal_displayfeature_xiaomi_hwservice:hwservice_manager find;

# Allow binder communication with hal_touchfeature_xiaomi_default
binder_call(hal_fod_kona, hal_touchfeature_xiaomi_default)

# Allow hal_fod_kona to find hal_displayfeature_xiaomi_hwservice
allow hal_fod_kona hal_touchfeature_xiaomi_hwservice:hwservice_manager find;

# Allow hal_fod_kona to find hal_fingerprint_hwservice_xiaomi
allow hal_fod_kona hal_fingerprint_hwservice_xiaomi:hwservice_manager find;

# Allow hal_fod_kona to write to fod sysfs
allow hal_fod_kona sysfs_tp_fodstatus:file rw_file_perms;

# Allow access to the hals
hal_client_domain(hal_fod_kona, hal_fingerprint)

# Allow to use wakelock
wakelock_use(hal_fod_kona)

# Allow hal_fod_kona to write to disp param
allow hal_fod_kona sysfs_graphics:file {read write getattr open};
allow hal_fod_kona sysfs_graphics:dir {search};
allow hal_fod_kona sysfs_graphics:lnk_file {read};

# Allow hal_fod_kona to read brightness node
allow hal_fod_kona sysfs_graphics:dir{search};
allow hal_fod_kona sysfs_graphics:file{read open getattr};

allow hal_fod_kona vendor_sysfs_graphics:dir{search};
allow hal_fod_kona vendor_sysfs_graphics:file{read open getattr};

